{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "importOrder": ["builtin", "external", "internal", "parent", "sibling", "index"],
  "importOrderSeparation": true,
  "eslintIntegration": true
}
